@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: gray;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}
body span {
}
.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
#Layer_1 {
  height: 60%;
}
#_hart_ {
  cursor: pointer;
}
.love {
  color: purple;
}
#_aAnders_ {
  cursor: pointer;
}
#_n_ {
  cursor: pointer;
}
#_d_ {
  cursor: pointer;
}
#_e_ {
  cursor: pointer;
}
#_r_ {
  cursor: pointer;
}
#_s_ {
  cursor: pointer;
}

#_maRechthoek_ {
  cursor: cell;
}
.rechthoek {
  width: 1em;
  height: 1em;
  background-color: black;
}
#_m_ {
  cursor: pointer;
}
.M {
  color: purple;
}
#_aMa_ {
  cursor: pointer;
}
#_g_ {
  cursor: pointer;
}

p {
  padding: 0;
  margin: 0;
}

.stage {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
.stage span {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #fcff3b8a;
  box-shadow: 0 0 5px rgba(255, 252, 72, 0.5), 0 0 15px rgba(255, 253, 110, 0.4),
    0 0 30px rgba(255, 254, 224, 0.3);
  border-radius: 50%;
  filter: blur(2px);
  z-index: -2;
}
.stage span.blur {
  width: 150px;
  height: 150px;
  filter: blur(15px);
  /* left: 200px;
  top: 200px;
  opacity: .2; */
}

@media only screen and (max-width: 500px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
  }
  #Layer_1 {
    height: 100%;
  }
}
