@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
body {
  background-color: #555;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: white;
}

nav {
  position: fixed;
}
.nav {
  font-size: 1.6em;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.nav__knop {
  padding: 0.5em 0.6em;
  box-sizing: border-box;
  width: 2.2em;
}
.nav__knop:hover {
  color: #333;
  background-color: rgb(114, 114, 114);
}
.nav__item {
  margin-top: 0.1em;
}
.nav__link {
  color: white;
  text-decoration: none;
  background-color: #222;
  display: block;
  padding: 0.8em 0.3em;
  transform: translateX(-8.4em);
  transition: transform 0.5s ease-in-out;
}
.nav__link--schuif-in {
  transform: translateX(0);
}
.nav__link:hover {
  color: #333;
  background-color: rgb(114, 114, 114);
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.vlakje {
  background-color: rgb(255, 255, 255);
  width: 0.3vw;
  height: 0.3vw;
  border-left: 50px solid rgb(0, 255, 255);
  border-right: 50px solid rgb(255, 0, 0);
  border-bottom: 50px solid rgb(0, 255, 0);
  border-top: 50px solid rgb(0, 0, 255);
  display: inline-block;
  border-radius: 2em;

  transform: translateX(2em);
  transition: transform 1s cubic-bezier(0.43, 0.4, 0.45, 1);
}
.vlakje-naar-rechts {
  transform: translateX(70em) rotate(720deg);
}

.animeer-knop {
  background: #222;
  color: white;
  width: 100px;
  height: 30px;
  font-size: 18px;
  border-radius: 4px;
  transition: 0.2s ease-in-out;
  overflow: hidden;
  border: solid 2px #222;
  cursor: pointer;
}
.animeer-knop:hover {
  background: #555;
  color: #222;
}

.fas.verberg {
  display: none;
}
