@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
body {
  background-color: #555;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: white;
}

nav {
  position: fixed;
}
.nav {
  font-size: 1.6em;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.nav__item {
  margin-bottom: 0.1em;
}
.nav__link {
  color: white;
  text-decoration: none;
  background-color: #222;
  display: block;
  padding: 0.8em 0.3em;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.vlakje {
  background-color: black;
  width: 10vw;
  height: 10vw;
  transform: translateX(2em);
  transition: transform 1s cubic-bezier(0.43, 0.4, 0.45, 1);
}
.vlakje-naar-rechts {
  transform: translateX(70em) rotate(360deg);
}

.animeer-knop {
  background: #222;
  color: white;
  width: 100px;
  height: 30px;
  font-size: 18px;
  border-radius: 4px;
  transition: 0.2s ease-in-out;
  overflow: hidden;
  border: solid 2px #222;
  cursor: pointer;
}
.animeer-knop:hover {
  background: #555;
  color: #222;
}
