@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: rgb(211, 211, 211);
  font-family: "Roboto", sans-serif;
}
#Layer_1 {
  width: 30%;
}
#_n_ {
  cursor: pointer;
}
#_aAnders_ {
  cursor: pointer;
}
#_d_ {
  cursor: pointer;
}
#_hart_ {
  cursor: pointer;
}
